<%- include('header')%>
    <h2>
        Edit Category:
        <a href="/admin/categories">Categories</a>
    </h2>
    <div>
        <form method = "POST">
            <label>Category:</label>
            <input type="text" name="category" value="<%= locals.categories.category %>">
            <br>
            <button>Save category</button>
        </form>
    </div>
<%- include('footer') %>